<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physical Distancing Monitoring System</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(120deg, #2980b9, #8e44ad);
        height: 100vh;
        overflow: hidden;
    }
    .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    padding: 5%;
    text-align: center;
    }
    .btn_div{
    margin-top: 25px;
    }
    a{
    padding: 10px;
    background: #0844e9;
    border-radius: 25px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    }
    a:hover{
        border-color: #2691d9;
        transition: .5s;
    }
    .res_div{
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
<body>
    <div class="center">
        <h1>Physical Distancing Monitoring System</h1>
        <div class="res_div">
            <p>
                Total amount of violation(s) captured in system: <%- resultz %>
            </p>
        </div>
        <div class="btn_div">
            <a href="http://localhost:8000/monitoring">RETURN HOME</a>
        </div>
    </div>
</body>
</html>